<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dorin.projectapp">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/start"
        android:label="GroupPay"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
            android:label="Registreren"
            android:screenOrientation="portrait" />
        <activity android:name=".MakeGroupActivity"
            android:label="Groep maken"
            android:screenOrientation="portrait"/>
        <activity android:name=".MakeExpensesActivity"
            android:label="Uitgaven toevoegen"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>